<html ng-app="telegramWebApp" lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        angular.module("telegramWebApp", []).controller('FormController', function ($scope, $http) {
            $scope.formData = {
                title: '',
                description: '',
                price: ''
            };
            
            $scope.submitForm = function () {
                $http.post('YOUR_SERVER_ENDPOINT', $scope.formData)
                    .then(function (response) {
                        alert('Data sent successfully!');
                    }, function (error) {
                        alert('Error sending data!');
                    });
            };
        });
    </script>
</head>
<body ng-controller="FormController">
    <form ng-submit="submitForm()">
        <label for="title">Название:</label>
        <input type="text" id="title" ng-model="formData.title" required>
        
        <label for="description">Описание:</label>
        <textarea id="description" ng-model="formData.description" required></textarea>
        
        <label for="price">Цена:</label>
        <input type="number" id="price" ng-model="formData.price" required>
        
        <button type="submit">Добавить</button>
    </form>
</body>
</html>
